<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://2.bp.blogspot.com/-ntdGn8OWtJM/WH2JugK4JOI/AAAAAAAAEl0/4INBsWT4d7w_RJgPhfHCOTQ3MkAJ6FcwgCLcB/s1600/2fb4e31a3fbcc67a6832da712d9435b9.jpg); height: 100vh;">
  <%= render '/partials/navbar-transparent'%>
  <div class="container">
    <h1>Charge Nextdoor</h1>
    <p>Find spots to charge your car in neightborhoods around the world.</p>
  </div>
  <div class="search-form">
    <div class="search-form-content">
      <%= simple_form_for :search, url: stations_path, method: "GET", html: { class: 'form' } do |f| %>
        <%= f.input :address,
          input_html: {value: ""},
          wrapper_html: { class: 'search-input-field' },
          required: false %>
        <%= f.input :charger,
          collection: ["Tesla", "Mercedes", "BMW", "Volkswagen", "Volvo", "Ford"],
          wrapper_html: { class: 'search-input-field' },
          required: false,
          label: "Charging Port" %>
        <%= f.input :start,
          as: :string,
          required: false,
          input_html: {class: "datepicker d-none"},
          label: false %>
        <%= f.submit "Search", class: "btn btn-primary w-100" %>
      <% end %>
    </div>
  </div>
</div>
