<div class="landing-page">
  <%= render '/partials/navbar-transparent'%>

  <div class="d-flex move-down">
    <div class="search-form">
      <div class="search-form-content">
        <%= simple_form_for :search, url: stations_path, method: "GET", html: { class: 'form' } do |f| %>
          <%= f.input :address,
            input_html: {value: ""},
            wrapper_html: { class: 'search-input-field' },
            required: false %>
          <%= f.input :charger,
            collection: ["Tesla", "Mercedes", "BMW", "Volkswagen", "Volvo", "Ford"],
            wrapper_html: { class: 'search-input-field' },
            required: false,
            label: "Charging Port" %>
          <%= f.input :start,
            as: :string,
            required: false,
            input_html: {class: "datepicker d-none"},
            label: false %>
          <%= f.submit "Search", class: "btn btn-primary w-100" %>
        <% end %>
      </div>
    </div>
    <div class="front-page-text">
      <h1>Charge Nextdoor</h1>
      <p>Find spots to charge your car in neightborhoods around the world.</p>
    </div>
  </div>

</div>
