<div class="py-3 px-1">
  <div class="search-criteria d-flex">
    <% unless @address.empty? %>
      <div class="search-item">
        <%= @address %>
      </div>
    <% end %>
    <% unless @charger.empty? %>
      <div class="search-item">
        <%= @charger %>
      </div>
    <% end %>
  </div>
  <div class="d-flex">
    <div class="w-70">
      <div id="stations">
        <% if @stations.empty? %>
          <p>There are currently no stations available <% unless @address.empty? %>near <em><%= @address %></em><% end %><% unless @charger.empty? %> for your <em><%= @charger %></em> <% end %>.</p>
        <% else %>
          <% @stations.each do |station| %>
            <%= render partial: './partials/card-station', locals: {station: station} %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="w-30 index-map" id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
