<div>
  <div class="search-criteria d-flex">
    <% unless @address.empty? %>
      <div class="search-item">
        <%= @address %>
      </div>
    <% end %>
    <% unless @charger.empty? %>
      <div class="search-item">
        <%= @charger %>
      </div>
    <% end %>
    <% if @charger.empty? && @address.empty? %>
      <div class="search-item">
        All Stations
      </div>
    <% end %>
  </div>
  <div class="d-flex">
    <div class="w-70">
      <div id="stations">
        <% if @stations.empty? %>
          <p class="no-stations-text">There are currently no stations that match your search.</p>
        <% else %>
          <% @stations.each do |station| %>
            <%= render partial: './partials/card-station', locals: {station: station} %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="w-30 index-map" id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
