<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <!-- img -->

      <div class="description-content">

      </div>

      <!-- Reviews -->
      <div class="review-overall-styling">
        <div class="avg-rating">
          <div class="rating-header">
            <h3> <%= @station.reviews.count %> Reviews</h3>
            <span>Overall: </span>
            <!-- star rating overall -->
              <span>
                <% @overall_avg.times do %>
                  <span>
                    <i class="fas fa-star"></i>
                  </span>
                <% end %>
              </span>
              <!-- empty stars -->
              <span>
                <% (5-@overall_avg).times do %>
                  <span>
                    <i class="far fa-star"></i>
                  </span>
                <% end %>
              </span>
          </div>
          <div>
            <!-- star rating accessability -->
            <p>Accessability: </p>
              <span>
                <% @accessability_avg.times do %>
                  <span>
                    <i class="fas fa-star"></i>
                  </span>
                <% end %>
              </span>
              <!-- empty stars -->
              <span>
                <% (5-@accessability_avg).times do %>
                  <span>
                    <i class="far fa-star"></i>
                  </span>
                <% end %>
              </span>
              <!-- star rating condition -->
            <p>Condition:</p>
              <span>
                <% @condition_avg.times do %>
                  <span>
                    <i class="fas fa-star"></i>
                  </span>
                <% end %>
              </span>
              <!-- empty stars -->
              <span>
                <% (5-@condition_avg).times do %>
                  <span>
                    <i class="far fa-star"></i>
                  </span>
                <% end %>
              </span>
          </div>
        </div>

        <div class="rating-content">
          <!-- Display Reviews -->
          <% @station.reviews.each do |review| %>
            <div class="review-content-box">
              <p><%= review.content %></p>
            </div>
          <% end %>
        </div>
      </div>

      <!-- Map -->
      <div>

      </div>
    </div>

    <!-- Booking form -->
    <div class="col-lg-6">

    </div>

  </div>
</div>







































<h1><%= @station.charger %>-charger at
  <%= @station.address %></h1>

<!-- START Review -->
<div class="container">

  <%= link_to "back to results", :back, :class => 'btn  btn-primary my-3' %>

  <% unless @station.photo != nil %>
    <p>No image uploaded</p>
  <% else %>
    <%= cl_image_tag @station.photo, height: 500, width: 300, crop: :fill %>
    <%= link_to 'delete photo', delete_photo_path(@station) %>
  <% end %>



    <div class="w-50 px-3">
      <h3>Upcoming Bookings</h3>
      <ul>
        <% @station.bookings.all.each do |item| %>
        <li><%= item.start %> - <%= item.end %></li>
        <% end %>
      </ul>
    </div>
  </div>

    <div class="d-flex">
      <div class="w-50 px-3">
        <h2>Leave a Review</h2>
        <!-- Simple form for creating a new review -->
        <%if @booking %>
          <%= simple_form_for([@booking, @review]) do |f| %>
          <%= f.input :accessability, as: :radio_buttons, collection: [1, 2, 3, 4, 5], wrapper: :vertical_collection_inline %>
          <%= f.input :condition, as: :radio_buttons, collection: [1, 2, 3, 4, 5], wrapper: :vertical_collection_inline %>
          <%= f.input :overall, as: :radio_buttons, collection: [1, 2, 3, 4, 5], wrapper: :vertical_collection_inline %>
          <%= f.input :content %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <p>There are currently no reviews.</p>
      <% end %>

    </div>
    <div class="w-50 px-3">
      <!-- Simple form for creating a new booking -->
      <h2>Create a Booking</h2>
      <%= simple_form_for([@station, @new_booking]) do |f| %>

        <p>Charger Type: <%= @station.charger %></p>
        <p>Address: <%= @station.address %></p>
      <%#= f.input :accessability %>
        <%= f.input :start, as: :datetime%>
        <%= f.input :end, as: :datetime%>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<!-- END Review -->

<!-- back to results -->
