<div class="container">
      <!-- img -->
  <div class="row" style= "justify-content: space-around; margin-top: 32px;">
    <div class="col-lg-8">
      <div class="outer-image-div">
        <div class="inner-image-div">
          <% unless @station.photo != nil %>
            <div style="width: 600px; height: 300px;"><p>no image uploaded</p>
            </div>
          <% else %>
            <%= cl_image_tag @station.photo, height: 300, width: 500, crop: :fill %>
            <%#= link_to 'delete photo', delete_photo_path(@station), class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>


      <div class="description-content">
        <h1><%= @station.address %></h1>
        <p><%= @station.instruction %></p>
      </div>

      <!-- Reviews -->
      <div class="review-overall-styling">
        <div class="avg-rating">
          <div class="rating-header">
            <h3> <%= @station.reviews.count %> Reviews</h3>
            <span>Overall: </span>
            <!-- star rating overall -->
              <span>
                <% @overall_avg.times do %>
                  <span>
                    <i class="fas fa-star"></i>
                  </span>
                <% end %>
              </span>
              <!-- empty stars -->
              <span>
                <% (5-@overall_avg).times do %>
                  <span>
                    <i class="far fa-star"></i>
                  </span>
                <% end %>
              </span>
          </div>
          <div>
            <!-- star rating accessability -->
            <p>Accessability: </p>
              <span>
                <% @accessability_avg.times do %>
                  <span>
                    <i class="fas fa-star"></i>
                  </span>
                <% end %>
              </span>
              <!-- empty stars -->
              <span>
                <% (5-@accessability_avg).times do %>
                  <span>
                    <i class="far fa-star"></i>
                  </span>
                <% end %>
              </span>
              <!-- star rating condition -->
            <p>Condition:</p>
              <span>
                <% @condition_avg.times do %>
                  <span>
                    <i class="fas fa-star"></i>
                  </span>
                <% end %>
              </span>
              <!-- empty stars -->
              <span>
                <% (5-@condition_avg).times do %>
                  <span>
                    <i class="far fa-star"></i>
                  </span>
                <% end %>
              </span>
          </div>
        </div>

        <div class="rating-content">
          <!-- Display Reviews -->
          <% @station.reviews.each do |review| %>
            <div class="review-content-box">
              <p><%= review.content %></p>
            </div>
          <% end %>
        </div>
        <!-- Simple form for creating a new review -->
        <%if @booking %>
          <%= simple_form_for([@booking, @review]) do |f| %>
          <%= f.input :accessability, as: :radio_buttons, collection: [1, 2, 3, 4, 5], wrapper: :vertical_collection_inline %>
          <%= f.input :condition, as: :radio_buttons, collection: [1, 2, 3, 4, 5], wrapper: :vertical_collection_inline %>
          <%= f.input :overall, as: :radio_buttons, collection: [1, 2, 3, 4, 5], wrapper: :vertical_collection_inline %>
          <%= f.input :content %>
          <%= f.button :submit, class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>

      <!-- START Map -->
      <div>
      </div>
      <!-- END Map -->
    </div>

    <!-- Booking form -->
    <div class="col-lg-4">
      <div class="booking-form">
        <div class="booking-form-content">
            <div id="header-create-booking">
              <h2 class="pb-3">Create a Booking!</h2>
            </div>
            <div id="price-create-booking">
              <p><b>$ <%= @station.price %> </b></p><p id="price-per-hour">per hour</p>
            </div>
            <div id="booking-info-message">
              <p>book now to get the best available rate</p>
            </div>
            <div class="booking-form-form">
              <%= simple_form_for([@station, @new_booking]) do |f| %>
                <%= f.input :start,
                  as: :string,
                  required: false,
                  wrapper_html: { class: 'search-input-field' },
                  input_html: {id: "range_start"},
                  placeholder: "when will you arrive?" %>
                <%= f.input :end,
                  as: :string,
                  required: false,
                  placeholder: "your car should be fully charged by then",
                  input_html: {id: "range_end"},
                  wrapper_html: { class: 'search-input-field' } %>
            </div>
                <%= f.button :submit, class: "btn btn-primary w-100" %>
              <% end %>
        </div>
      </div>
    </div>
  </div>
