<div class="container">
  <div class="card">
    <h2 class="top"><%= station.address.split(',')[0] %></h2>
    <h2><%= station.address.split(',')[1] %></h2>
    <i class="fas fa-arrow-right"></i>
    <p><%= station.charger.upcase %></p>
    <div class="pic" style="background-image: url('<%= station.photo %>')"></div>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<!--      -->
<%= link_to station_path(station) do %>
    <button></button>
<% end %>
  </div>
</div>
<div class="mb-4"></div>
