<!-- START station cards -->
<div class="container mt-3">
  <h1>My Stations</h1>
  <% @stations.each do |item| %>
    <div class="blog-card alt">
      <div class="meta">
      <div class="photo"> <%= cl_image_tag item.photo %> </div>
      <ul class="details">
        <li class="tags">
          <ul>
            <li><strong><%=item.charger.upcase%></strong> Charger</li>
            <% if !item.price.nil? %>
              <ul>
                <li>€<%=item.price%></li>
              </ul>
            <% else %>
              <ul>
                <li>price not provided</li>
              </ul>
            <% end %>
            </li>
          </ul>
      </div>
      <div class="description">
        <h1><%= item.address %></h1>
        <p><%= item.instruction %></p>
        <p class="read-more">
          <%= link_to "Edit Station", edit_station_path(item), class: "mr-3" %>
          <%= link_to 'Destroy Station', [item],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
        </p>
      </div>
    </div>
  <% end %>
<!-- END station cards -->

<!-- START upcoming booking cards -->
<h1 class="mt-5">My Upcoming Bookings:</h1>
<% @bookings.each do |item| %>
  <div class="blog-card my-3">
    <div class="meta">
      <div class="photo"> <%= cl_image_tag item.station.photo %>
        </div>
      <ul class="details">
        <li class="tags">
          <ul>
            <li>
              <strong><%= item.station.charger.upcase %></strong> charger
            </li>
          </ul>
          <ul>
            <li class="tags">
              <% if item.station.price != nil %>
                <strong>€<%= ((item.end - item.start)/60) * item.station.price %></strong>
              <% end %>
            </li>
          </ul>
        </li>
        <li class="date">
          <% if item.start.strftime("%d. %b") == item.end.strftime("%d. %b") %>
            <%= item.start.strftime("%d. %b, %H:%M%p ") %> - <%= item.end.strftime("%H:%M%p ") %>
          <% else %>
            <%= item.start.strftime("%d. %b, %H:%M%p ") %> - <%= item.end.strftime("%d. %b, %H:%M%p ") %>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1><%= item.station.address %></h1>
      <!-- Rating -->
      <!-- full stars -->
      <% if item.station.reviews %>
        <% unless item.station.compute_overall_avg.round == 0 || item.station.compute_overall_avg.round.nil? %>
          <% item.station.compute_overall_avg.round.times do %>
            <span>
              <i class="fas fa-star"></i>
            </span>
          <% end %>
        <% end %>
        <!-- Empty stars -->
        <% unless item.station.compute_overall_avg.round == 0 || item.station.compute_overall_avg.round.nil? %>
          <% (5-item.station.compute_overall_avg.round).times do %>
            <span>
              <i class="far fa-star"></i>
            </span>
          <% end %>
        <% end %>
      <% end %>
     <p> <%= item.station.instruction%> </p>
      <p class="read-more">
            <%= link_to "Cancel Booking", booking_path(item), method: :delete, class:"mt-4" %>
        </p>
    </div>
  </div>
<% end %>
<!-- END -->
