<div class="container">
  <div>
    <h1>My Stations</h1>
    <ul>
      <% @stations.each do |item| %>
        <li>
          <%= item.charger %> charger at
          <em><%= item.address %></em>
          <br>
          <%= link_to "Edit Station", edit_station_path(item) %>
        </li>
      <% end %>
    </ul>
  </div>

<!-- Upcoming bookings -->
<h1>My Upcoming Bookings:</h1>
<% @bookings.each do |item| %>
  <div class="blog-card">
    <div class="meta">
      <div class="photo"> <%= cl_image_tag item.station.photo %>
        </div>
      <ul class="details">
        <li class="date">
          <% if item.start.strftime("%d. %b") == item.end.strftime("%d. %b") %>
            <%= item.start.strftime("%d. %b, %H:%M%p ") %> - <%= item.end.strftime("%H:%M%p ") %>
          <% else %>
            <%= item.start.strftime("%d. %b, %H:%M%p ") %> - <%= item.end.strftime("%d. %b, %H:%M%p ") %>
          <% end %>
        </li>
        <li class="tags">
          <ul>
            <li>
              <strong><%= item.station.charger.upcase %></strong> charger in <em><%= item.station.address.split[3] %></em>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Learning to Code</h1>
      <h2>Opening a door to the future</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
      <!-- adding guard clause because code keeps breaking -->
        <p class="read-more">
          <a href="#">Read More</a>
          <% if item.station.price != nil %>
            <strong>€<%= ((item.end - item.start)/60) * item.station.price %></strong>
          <% end %>
            <%= link_to "Cancel Booking", booking_path(item), method: :delete, class:"display-right" %>
        </p>
    </div>
  </div>
  <% end %>
